body{
margin: 0;
padding: 0;
/* background-image: url(''); */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.login {
    position: absolute;
    top: 25px; 
    right: 20px; 
    width: 50px;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 40px;
    height: 150px;
    width: 150px;
}

nav {
    text-align: center;
    padding: 0%;
    height: 0%;
    margin-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 0px;
}
li {
    float: left;
}
li a {
    display: block;
    color: #1F1204;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px; 
    font-family: Berlin Sans FB;
}

li a:hover {
    color: #AF630C;
}

cor{
    color: #AF630C;
    color: #884901;
    color: #e59e4c;
    color: #3D270D;
    color: #301E09;
    color: #1F1204;
    color: #FBD13E;
    color: #000000;
}