body{
margin: 0;
padding: 0;
/* background-image: url(''); */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: black;
}

.login {
    position: absolute;
    top: 60px; 
    right: 180px; 
    width: 60px;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 25px;
    height: 200px;
    width: 200px;
}

nav {
    text-align: center;
    padding: 0%;
    height: 0%;
    margin-top: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 0px;
}
li {
    float: left;
}
li a {
    display: block;
    color: #1F1204;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px; 
    font-family: Segoe UI Semibold;
}

li a:hover {
    color: #AF630C;
}

.carousel{
    position: absolute;
    height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.carousel-control-prev{
    margin-top: -50%;
    left: 50%;
}
.carousel-control-next{
    margin-top: -50%;
    right: 50%;
}


cor{
    color: #AF630C;
    color: #884901;
    color: #e59e4c;
    color: #3D270D;
    color: #301E09;
    color: #1F1204;
    color: #FBD13E;
    color: #000000;
}